@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400&display=swap');

body {
    background-image: url("woman.jpg");
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;

}
#title{
    color: bisque;
}
#welcome{
    position:absolute;
    color:black;
    left: 30%;
    transform: translate(-50%, 20%);
    font-size: 1.5em;
    text-align: left;
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
    background-color: #f6f4e617;
    overflow-wrap: break-word;
    width: 24%;
    padding: 10px;
    margin: 1px;

  
}

a{
    color: bisque;
    text-decoration: none;

}

.navMenu {
    position:absolute;
    top: 3%;
    left: 70%;
    transform: translate(-0%, -50%)
    }
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    display:inline-flexbox;
    width: 80px;    
    }
  
  .navMenu a:hover {
    color: #fd3afd;
}

button{
    position: absolute;
    left: 21%;
    transform: translate(-50%, 0%);
    top: 60%;
    background-color:bisque;
    border-radius: 8px;
    border-style: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    
}
button:hover{
    background-color: black;
    color: bisque;

}

